:root {
  --primary-color: #2980b9;
  --secondary-color: #349be0;
  --accent-color: #60bfff;
  --black-color: #3f3f3f;
  --scrollbg-color: #89b8d7;
  --white-color: #ffff;
  --whitesmoke-color: #f5f5f5;
}
