.box-menu {
  height: 100vh;
  background-color: var(--whitesmoke-color);
  padding: 24px 48px;
  padding-bottom: 96px;
  overflow: auto;
  margin-left: -500px;
  transition: 1s;
  position: fixed;
  top: 4rem;
  z-index: 1;
}
.box-menu.active {
  margin-left: 0;
}

.box-menu h2 {
  margin-bottom: 20px;
  color: var(--black-color);
}

.surah-item {
  width: 240px;
  border-radius: 4px;
  padding: 8px 18px;
  margin-bottom: 8px;
  cursor: pointer;
  background-color: var(--white-color);
  border: 1px solid var(--gray-color);
}

.active-surah {
  background-color: var(--primary-color);
  color: var(--white-color);
}

ul {
  list-style: none;
}


