nav {
  width: 100vw;
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 16px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

nav span {
  position: absolute;
  left: 24px;
  cursor: pointer;
  padding: 8px;
  border-radius: 100%;
}

nav span:hover {
  background-color: #ffffff1b;
}
